div.container {
    margin-top: 100px;
    display: flex;
    width: 100%;
    /* height: 100vh; */
    justify-content: center;
    align-items: center;
}

div.subcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
}

body {
    background-image: url("../images/pexels-markusspiske-2004161.jpg");
}

@media(max-width: 350px) {
    div.container {
        margin-top: 100px;
        display: flex;
        margin-bottom: 50px;
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }
}

.textarea {
    margin-top: 20px;
}

div {
    resize: none;
    display: flex;
}