<%- include("partials/header.ejs") %>
    </head>

    <body>
        <%- include("partials/navbar.ejs") %>
            <div class="container">
                <div class="subcontainer">
                    <div class="d-flex align-items-start">
                        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist"
                            aria-orientation="vertical">
                            <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
                                aria-selected="true">My Ip Address</button>
                            <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-profile" type="button" role="tab"
                                aria-controls="v-pills-profile" aria-selected="false">Ip Location</button>
                            <button class="nav-link" id="v-pills-disabled-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-disabled" type="button" role="tab"
                                aria-controls="v-pills-disabled" aria-selected="false">Reverese DNS
                                Lookup</button>
                            <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-messages" type="button" role="tab"
                                aria-controls="v-pills-messages" aria-selected="false">DNS Lookup</button>
                            <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-settings" type="button" role="tab"
                                aria-controls="v-pills-settings" aria-selected="false">Is Port Reachable</button>
                        </div>
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                                aria-labelledby="v-pills-home-tab" tabindex="0">Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Molestiae natus voluptatum voluptates eos. Maiores magnam consequuntur
                                eveniet quae, fugit libero velit quas. Repellendus assumenda atque et animi eos ea sint
                                sit nobis hic id voluptates omnis vitae itaque reprehenderit neque soluta, laborum ad
                                molestiae nihil mollitia a ut est. Quas!</div>
                            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                                aria-labelledby="v-pills-profile-tab" tabindex="0">Lorem ipsum dolor sit amet
                                consectetur adipisicing elit. Similique laboriosam sint natus minima sequi aperiam autem
                                tempora itaque incidunt, asperiores, reprehenderit a rerum tempore modi iusto earum
                                necessitatibus voluptatem praesentium odit voluptate. Inventore sunt vel quos unde totam
                                atque libero reiciendis! Necessitatibus sit placeat reiciendis a? Perspiciatis, fuga
                                facere. Laudantium?</div>
                            <div class="tab-pane fade" id="v-pills-disabled" role="tabpanel"
                                aria-labelledby="v-pills-disabled-tab" tabindex="0">...</div>
                            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                                aria-labelledby="v-pills-messages-tab" tabindex="0">...</div>
                            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel"
                                aria-labelledby="v-pills-settings-tab" tabindex="0">...</div>
                        </div>
                    </div>
                </div>
            </div>
            <%- include("partials/footer.ejs") %>